﻿
@media screen {
    .a4-boyutu {
        background-image: url(/assets/images/fatura.jpg);
        background-size: cover;
    }
}

@media screen, print {
    .a4-boyutu {
        width: 1000px;
        height: 1414px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .a4-ad-soyad {
        padding-top: 247px;
        padding-left: 120px;
        width: 365px;
        font-size: 18px;
    }

    .a4-adres {
    padding-left: 70px;
    height: 100px;
 
}
        .a4-vergidairesi {
padding-left: 220px;
    padding-top: 2px
 
 
}
    .a4-duzenlenme-tarihi {
   padding-left: 150px;
    padding-top: 327px;
    }

    .a4-duzenlenme-saati {
        padding-top: 23px;
        padding-left: 150px;min-height:1px;
    }

    .faturaSatir {
        float: left;
        display: block;
        padding-left: 70px;
        padding-bottom: 17px;min-height:1px;
    }

    .a4-urun-adi {
        font-size: 20px;
        float: left;
        width: 120px;min-height:1px;
    }
    .a4-stok-kodu {
        font-size: 20px;
        float: left;
        width: 100px;min-height:1px;min-height:1px;
    } 
    .a4-aciklama {
        font-size: 20px;
        float: left;
        width: 420px;
        text-align: center;min-height:1px;min-height:1px;
    }

    .a4-fiyat {
        font-size: 20px;
        float: left;
        width: 100px;
        text-align: center;min-height:1px;
    }

    .a4-tutar {
        font-size: 20px;
        float: left;
        width: 120px;
        text-align: center;
        height:1px;min-height:1px;
    }
}

.faturabaslik {
    height: 484px;
}

.faturakalem {
    height: 730px;
}

.solBlok {
    width: 550px;
    float: left;
    min-height: 30px;
}

.sagblok {
    width: 450px;
    float: left;
    min-height: 30px;
}

.faturafooter {
    height: 200px;
    font-size: 20px;
}

.footersatir {
    float: left;
    margin-left: 100px;
}

.footerbaslik {
    float: left;
    width: 200px;
    height:1px;
}

.footermetin {
     float: left;
    width: 150px;
    padding-bottom: 10px;
}

.yaziile {
      padding-left: 135px;
    padding-top: 1px;
    height: 80px;
    line-height: 37px;
}

body {
}
