﻿body {
    background-image: url('/assets/images/zemin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.mynav {
    background: white;
    border-radius: 0px;
    margin: 0px;
    width: 100%;
    height: 50px;
}

.senkronix-logo {
    position: absolute;
    height: 100px;
    top: -8px;
    left: 50%;
    transform: translate(-50%);
}

    .senkronix-logo img {
        height: 100%;
    }

.top80 {
    padding-top: 80px;
}

.tanitim-yazisi {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

    .tanitim-yazisi p {
        padding: 24px;
        background: rgba(245, 130, 32, 0.69);
        padding: 24px;
        color: white;
    }

.panel {
    border-radius: 0px;
    border: none;
}

.panel-heading {
    background: white !important;
    padding: 0px;
    border: none;
}

.kayitol .first-link {
    display: inline-block;
    border-top: 50px solid rgb(245,130,32);
    border-right: 25px solid transparent;
    position: relative;
    width: 45%;
    text-align: center;
    width: 55%;
}

    .kayitol .first-link a {
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        left: 0;
        top: -50px;
        text-decoration: none;
    }

.kayitol .second-link {
    height: 50px;
    width: 45%;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
}

    .kayitol .second-link a {
        color: rgb(245,130,32);
        text-decoration: none;
        font-weight: bold;
    }

.giris .second-link {
    display: inline-block;
    border-bottom: 50px solid rgb(245,130,32);
    border-left: 25px solid transparent;
    position: relative;
    width: 45%;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 55%;
}

.second-link a {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    left: 0;
}

.first-link {
    height: 50px;
    width: 45%;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
}

    .first-link a {
        color: rgb(245,130,32);
        text-decoration: none;
        font-weight: bold;
    }

.panel-body {
    padding: 25px;
    padding-top: 70px;
}

.form-control {
    border-radius: 0px !important;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #CCC;
    padding-bottom: 12px;
}

    .form-control:focus {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

.btnuyeol {
    width: 50%;
    background: rgb(245,130,32);
    color: white;
    font-weight: bold;
    border-radius: 0px;
    height: 45px;
}

    .btnuyeol:hover {
        color: white;
    }

.field-validation-error {
    color: #f54b4b;
    font-size: 12px;
    padding-left: 7px;
}

.input-validation-error {
    border-color: #f54b4b;
}

.container {
    min-height: 740px;
}
