﻿ @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
    .text-right {
    text-align:inherit !important;
    }
	.table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		position: relative;
		padding-left: 50% !important; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:before { content: attr(data-column); }

}