﻿.tile {
    min-height: 200px;
    border-radius: 0px;
    position: relative;
    padding: 0px;
    opacity: 0.6;
    border: 1px solid white;
    box-sizing: border-box;
}

    .tile:hover {
        opacity: 0.8;
    }

    .tile a {
        display: block;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        padding: 35px;
        height: 100%;
        color: white !important;
    }

        .tile a:hover {
            text-decoration: none;
        }

        .tile a h1 {
            margin: 16px;
            text-align: center;
        }

        .tile a h2 {
            margin: 16px;
            text-align: center;
            font-size: 50px;
            font-size: 2.6vw;
        }

        .tile a i {
            font-size: 50px;
        }

        .tile a p {
            position: absolute;
            top: 10px;
            left: 10px;
        }

    .tile .shortcut {
        position: absolute;
        top: 10px;
        right: 10px;
        background: black;
        padding: 4px 10px;
    }

.tile-teal {
    background: #00aba9;
}


.tile-green {
    background: #393;
}

.tile-alizarin {
    background-color: #e74c3c;
}

.tile-pumpkin {
    background: #d35400;
}

.tile-orange {
    background: #f39c12;
}

.tile-amethyst {
    background-color: #9b59b6;
}


/* Kendo grid*/
.k-editor, .k-grid, .k-menu, .k-scheduler {
    border-radius: 0px;
}

.k-pager-nav.k-pager-first {
    border-radius: 0px;
}

.k-pager-wrap .k-link.k-pager-last {
    border-radius: 0px;
}

.k-state-selected {
    background-color: #E4EFC9;
    color: black;
}

    .k-state-selected:hover {
        background-color: #E4EFC9 !important;
        color: black;
    }

.k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover td {
    background-color: #E4EFC9 !important;
    color: black;
}

.k-state-focused {
    /*box-shadow: inset 0 0 18px -1px #3276b1 !important;*/
    box-shadow: none !important;
    border: 2px solid #89b1d4 !important;
    box-sizing: border-box;
}

.k-list-container {
    height: 294px !important;
}

    .k-list-container .k-textbox {
        border-radius: 0px !important;
    }

        .k-list-container .k-textbox:focus {
            outline: none;
            border: 1px solid #F59942 !important;
        }

    .k-list-container .k-item {
        border: 1px solid #CCC;
    }

    .k-list-container .k-state-selected {
        border-radius: 0px !important;
    }

.k-state-focused {
}

.k-listbox .k-item, .k-popup .k-list .k-item, .k-list-optionlabel {
    padding: 5px 5px !important;
    border-bottom: 1px solid #CCC;
}

.k-list-scroller {
    height: 230px !important;
}

.k-state-focused {
    border-radius: 0px !important;
    border: 1px solid #F59942 !important;
}


/*validation */
.input-validation-error {
    border-color: #ea9d9d !important;
    background: #fbf6f6 !important;
}

.field-validation-error {
    color: #f12626;
}

/* Bootbox */
.bootbox.modal {
    top: 20%;
}

.bootbox .modal-footer {
    padding: 0px;
    margin: 0px;
}

    .bootbox .modal-footer .btn-block {
        width: 50% !important;
        box-sizing: border-box;
        margin: 0px;
    }




.k-dropdown {
    width: 100%;
    border-radius: 0px;
}

.k-dropdown-wrap {
    border-radius: 0px;
}



.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.gr-tile {
    margin-bottom: 10px;
}

    .gr-tile .gr-inner {
        background: #fffcfc;
        padding: 10px;
        border: 1px solid #CCC;
    }

form#filterForm div {
    margin-bottom: 5px;
}

@media only screen and (max-width: 480px) {
    .no-padding-xs {
        padding: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .modal-dialog {
        width: inherit !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    #your_id {
        width: 000px;
        height: 000px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    #your_id {
        width: 000px;
        height: 000px;
    }
}

@media only screen and (min-width: 959px) {
    #your_id {
        width: 000px;
        height: 000px;
    }
}

.datepicker .table-condensed {
    text-align: center;
}

.datepicker .active {
    color: white;
}

.datepicker .day {
    cursor: pointer;
    border: 1px solid white;
}

    .datepicker .day:hover {
        background: #f3f3f3;
    }

.datepicker td.old.day, .datepicker td.new.day {
    color: #ccc;
}

.datepicker td.disabled.day {
    cursor: not-allowed;
    cursor: not-allowed;
    background: #f5f5f5;
}

.datepicker-months .month, .datepicker-years .year {
    border-radius: 0 !important;
    display: block;
    width: 33.33% !important;
    float: left;
    height: 42px;
    line-height: 42px;
    border: 1px solid white;
}

.datepicker-months .next {
    text-align: right;
}

.datepicker-months .datepicker-switch {
    text-align: center;
}

.true {
    background: #ffbbbb;
}

.loader-parent {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(6, 3, 3, 0.35);
    display: none;
    z-index: 10000;
}

.loader {
    border: 6px solid #f3f3f3;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    line-height: 100%;
    vertical-align: middle;
    position: absolute;
    left: calc(50%);
    top: calc(50% - 120px);
}

    .loader img {
        width: 100%;
    }

