@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
